<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773085126616-png65uesq69vs805ng25bt1t53rhdmdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773085126616-png65uesq69vs805ng25bt1t53rhdmdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773085126616-se4ecrq9kf3p0lalaj4rtsaicrg9oc6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhbqWUcBiQNIcjetVdYKlRCChc_nCzXnA</string>
	<key>GCM_SENDER_ID</key>
	<string>773085126616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.repairiq</string>
	<key>PROJECT_ID</key>
	<string>repair-i-q-wtclej</string>
	<key>STORAGE_BUCKET</key>
	<string>repair-i-q-wtclej.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773085126616:ios:f74694be49ecba4dd2dcad</string>
</dict>
</plist>